@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot?-ulzwqn');
	src:url('../fonts/fontawesome/fontawesome.eot?#iefix-ulzwqn') format('embedded-opentype'),
		url('../fonts/fontawesome/fontawesome.woff?-ulzwqn') format('woff'),
		url('../fonts/fontawesome/fontawesome.ttf?-ulzwqn') format('truetype'),
		url('../fonts/fontawesome/fontawesome.svg?-ulzwqn#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/app */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap&subset=latin-ext');
.component {
	margin: 0 auto;
	position: relative;
	max-width: 100%;
}



.component-fullwidth {
	width: 100%;
	height: 680px;
	margin-bottom: 0;
	background: #333;
}



.component > ul {
	width: 100%;
	max-width: 100%;
	height: 100%;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}


.component-fullwidth > ul {
	overflow: hidden;
}



.component li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
    z-index: 999;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.component li::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(100deg, #162647, rgba(0, 0, 0, 0.1));
    pointer-events: none;
}
.component li .headers{
    position: absolute;
    display: block;
    visibility: visible;
    left: 10%;
    top: 38%;
    z-index: 5;
    width: 70%;
}
.component li .headers h1{
    color: #f2f2f2; background: rgba(22, 38, 71, .5); font-size: 75px; line-height: 74px; font-weight: 700; margin: 0 5px 24px; float: left; padding: 10px; margin: 0 5px 24px; font-family: 'Libre Baskerville', serif;
    text-align: left;
}

.component li .headers h1 span{
    
}
.component li .headers a{

    border-radius: 5px;
    padding: .75rem 2rem;
    background: transparent;
    margin: 0 .35em 10px 0;
    cursor: pointer;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    height: 42px;
    outline: none;
    vertical-align: baseline;
    transition: box-shadow 3s ease-in-out;
    background: rgba(150,60,255,1) !important;
    color: #fff;
    -webkit-box-shadow: 0 8px 25px -8px  rgba(150,60,255,1);
                box-shadow: 0 8px 25px -8px  rgba(150,60,255,1);

}
.component-fullwidth li {
	overflow: hidden;
}

.component .current {
	opacity: 1;
	pointer-events: auto;
	z-index: 1000;
}



.component nav a {
	position: absolute;
	width: 60px;
	height: 60px;
	color: #fff;
	outline: none;
	overflow: hidden;
	text-align: center;
	line-height: 200px;
	top: 50%;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999999;
}



.component-fullwidth nav a {
	top: 50%;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.component-fullwidth nav a.prev {
	left:20px
}

.component-fullwidth nav a.next {
	right: 20px;
}

.component nav a::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	line-height: 60px;
	height: 100%;
	font-family: 'fontawesome';
	font-size: 60px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	opacity: 0.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.component nav a:hover::before {
	opacity: 1;
}

a.prev::before {
	content: "\e601";
}

a.next::before {
	content: "\e600";
}
